---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}
<link rel="stylesheet" href="{{ '/assets/css/project.css' | relative_url }}">

<table class="projects-table">
  <thead>
    <tr>
      <th>Acronym</th>
      <th>Funding Organization</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    {% assign projects = site.projects | sort: 'duration' | reverse %}
    {% for project in projects %}
    <tr>
      <td><a href="{{ base_path }}{{ project.url }}">{{ project.title }}</a></td>
      <td>{{ project.sponsor }}</td>
      <td>{{ project.duration }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>