{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button class="hidden"><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist">
            <a href="https://www.uibk.ac.at/informatik/" target="_blank" rel="noopener noreferrer">
              <img 
                id="site-logo"
                src="{{ base_path }}/images/light.svg" 
                data-light="{{ base_path }}/images/light.svg"
                data-dark="{{ base_path }}/images/black.svg"
                alt="university_innsbruck_logo" 
                class="site-logo"
              >
            </a>
          </li>
          {% for link in site.data.navigation.main %}
            {% if link.dropdown %}
              <!-- Dropdown Navigation Item - ADD PERSIST CLASS HERE -->
              <li class="masthead__menu-item dropdown-item persist{% if page.url contains link.url %} active{% endif %}">
                <a href="{% if link.url contains 'http' %}{{ link.url }}{% else %}{{ base_path }}{{ link.url }}{% endif %}" class="dropdown-toggle">
                  {{ link.title }}
                  <i class="fa-solid fa-chevron-down dropdown-arrow" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                  {% for dropdown_item in link.dropdown_items %}
                    <li class="dropdown-menu-item">
                      <a href="{% if dropdown_item.url contains 'http' %}{{ dropdown_item.url }}{% else %}{{ base_path }}{{ dropdown_item.url }}{% endif %}" 
                         data-filter="{{ dropdown_item.filter }}"
                         onclick="handleDropdownNavigation('{{ dropdown_item.filter }}', event)">
                        {% if dropdown_item.icon %}
                          <span class="dropdown-icon">{{ dropdown_item.icon }}</span>
                        {% endif %}
                        {{ dropdown_item.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <!-- Regular Navigation Item -->
              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = base_path %}
              {% endif %}
              <li class="masthead__menu-item{% if page.url == link.url %} active{% endif %}">
                <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
